body {
    font-family: "AkzidenzGrotesk-BoldCond", arial, sans-serif;
    background-color: black;
}

@font-face {
    font-family: "AkzidenzGrotesk-BoldCond";
    src: url("AkzidenzGrotesk-BoldCond.otf") format("truetype");
}

.AkzidenzGrotesk-BoldCond {
    font-family: "AkzidenzGrotesk-BoldCond", arial, sans-serif;
}

.textMainMessage {
    color: aliceblue;
    text-align: center;
    font-size: 10vh;
    margin-top: 20vh;
}

.alignStartContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

.questionContainer {
    color: aliceblue;
    text-align: center;
    font-size: 10vh;
}

.questionContainer h2, .questionContainer h3 {
    margin: 0;
}

.questionContainer h2 {
    font-size: 6vh;
    margin: 10px;
}

.questionText {
    color: white;
    text-align: center;
    font-size: 8vh;
}

.choiceList {
    list-style: none;
    background-color: blue;
}

.whiteText {
    color: white;
}
