.button {
    width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
}

.buttonAnswer {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
}

.buttonSecondary {
    width: 10%;
    height: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
}

.button-1 {
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
}

.button-1:hover {
    box-shadow: 0 0 15px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: solid #00d7c3;
}

.selectedChoice {
    box-shadow: 0 0 90px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: solid #00d7c3;
}


