
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    font-size: 30px;
    text-align: center;
}

.alignResults {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2%;
}
